<div class="row my-header">
	<div class="col-md-12 my-header-items">
		<a href="/"><i class="fa fa-futbol-o fa-2x" aria-hidden="true"></i></a>
		<h1 class="">Mpira</h1>
		<a href="/" class="btn btn-secondary pull-right my-button">Home</a>
	</div>
</div>
