thead{
	background-color: #a92222;
	color: white
}
.team-name{
	text-align: center;
	margin: 6px 0 6px 0; 
	background-color: #a92222;
	color:#fff;
	padding:18px;
	border-radius: 5px;
	font-size: 20px;
}
.team-name:hover{
	transform: scale(1.2);
}



